In [1]:
import pandas as pd

#### Merging 12 months of sales data into a single file

In [2]:
df = pd.read_csv('./Sales_Data/Sales_April_2019.csv')

df.head()
print(df.shape)

(18383, 6)

In [3]:
import os

files = [file for file in os.listdir('./Sales_Data')]

for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [4]:
all_month_data=pd.DataFrame()

In [5]:
for file in files:
    df = pd.read_csv('./Sales_Data/'+file)
    all_month_data = pd.concat([all_month_data,df])

In [6]:
all_month_data.shape

(186850, 6)

In [7]:
all_month_data.to_csv('all_month_data.csv',index=True)

#### Read the compiled updated data

In [8]:
data=pd.read_csv('all_month_data.csv')

In [9]:
data.head()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#### Cleaning the Data And making it ready for analysis

In [10]:
 data.shape

(186850, 7)

In [11]:
data.isnull().sum()

Unnamed: 0            0
Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [12]:
#dropping the the columns which are not required
data.drop(['Unnamed: 0'], axis=1)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [13]:
#dropping null values
data=data.dropna()

In [14]:
data.head()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [15]:
data.reset_index(inplace=True)

In [16]:
data.head()

,index,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,5,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [17]:
data = data.drop(['index','Unnamed: 0'],axis=1)

In [18]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [19]:
data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

#### Adding month column to the data

In [20]:
all_month_data['month'] = all_month_data['Order Date'].str[0:2]

In [21]:
all_month_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04

In [22]:
all_month_data.isnull().sum()
all_month_data.shape

(186850, 7)

In [23]:
all_month_data=all_month_data.dropna()

In [24]:
all_month_data = all_month_data.reset_index()

In [25]:
all_month_data=all_month_data.drop(['index'], axis=1)

In [26]:
#checking if there are unusual values in the month column

all_month_data['month'].value_counts()

12    24984
10    20282
04    18279
11    17573
05    16566
03    15153
07    14293
06    13554
02    11975
08    11961
09    11621
01     9709
Or      355
Name: month, dtype: int64

In [27]:
all_month_data[all_month_data['month']=='Or']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
517,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1146,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1152,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2869,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2884,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
...,...,...,...,...,...,...,...
184624,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
185009,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186019,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186088,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186194,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

In [28]:
#replacing the value with expected value since it seems to be typing error
all_month_data['month'].replace({'Or':'04'}, inplace=True)

In [29]:
all_month_data[all_month_data['month']=='Or']

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, month]
Index: []

In [30]:
all_month_data['month']=all_month_data['month'].astype('int32')

In [31]:
all_month_data['month'].value_counts()

12    24984
10    20282
4     18634
11    17573
5     16566
3     15153
7     14293
6     13554
2     11975
8     11961
9     11621
1      9709
Name: month, dtype: int64

In [32]:
all_month_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

#### Adding a sales column

In [33]:
all_month_data['Sales']=all_month_data['Quantity Ordered']*all_month_data['Price Each']

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
#Checking for unusual values in column
all_month_data['Price Each'].value_counts()

In [ ]:
df_temp=all_month_data[all_month_data['Price Each']=='Price Each']

In [ ]:
#dropping those unusual values
all_data=all_month_data[~all_month_data.isin(df_temp)].dropna(how = 'all')

In [ ]:
all_data.head()

In [ ]:
all_data['Price Each'].value_counts()

In [ ]:
all_data['Quantity Ordered'].value_counts()

In [ ]:
all_data['Price Each']=all_data['Price Each'].astype('float32')

In [ ]:
all_data['Quantity Ordered']=all_data['Quantity Ordered'].astype('int32')

In [ ]:
all_data['Sales']=all_data['Quantity Ordered']*all_data['Price Each']

In [ ]:
all_data.head()

#### Sales Per Month

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(10
                    ,15))

plt.bar(all_data['month'].unique(),all_data.groupby('month').sum()['Sales'])
plt.xlabel('Months')
plt.ylabel('Sales in million USD')
plt.xticks(all_data['month'].unique())
plt.yticks(all_data.groupby('month').sum()['Sales'])

#### Sales and quantity according to product

In [ ]:
plt.figure(figsize=(10,10))
keys = [prod for prod, df in all_data.groupby(['Product'])]

plt.subplot(2,1,1)
plt.bar(keys,all_data.groupby(['Product']).sum()['Sales'])
plt.ylabel('Sales in USD ($)')
plt.xlabel('product')
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

plt.figure(figsize=(10,10))
plt.subplot(2,1,2)
plt.bar(keys,all_data.groupby(['Product']).sum()['Quantity Ordered'])
plt.ylabel('Quantity ')
plt.xlabel('product')
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

In [ ]:
keys = [prod for prod, df in all_data.groupby(['Product'])]

In [ ]:
keys

In [ ]:
all_data.columns

#### Creating Address dataframe to analyse on basis of addresses of orders.

In [ ]:
address = all_data[['Purchase Address','Sales']]

In [ ]:
address.head()

#### Adding state, city and street column

In [ ]:
address[['Street', 'City','State']] = address['Purchase Address'].str.split(',', 2, expand=True)

In [ ]:

address.head()

#### Creating pincode column

In [ ]:
address['PIN']=address['State'].str[-5:]

In [ ]:
address['State']=address['State'].str[:3]

In [ ]:
address.head()

#### Sales According to States

In [ ]:
sts = [prod for prod, df in address.groupby(['State'])]

plt.figure(figsize=(10,15))
plt.subplot(2,1,2)
plt.bar(sts,address.groupby(['State']).sum()['Sales'])
plt.ylabel('Sales ')
plt.xlabel('States')
plt.yticks(address.groupby(['State']).sum()['Sales'])
plt.xticks(sts, rotation='vertical', size=8)
plt.show()

#### Sales Acoording to City

In [ ]:
city = [prod for prod, df in address.groupby(['City'])]

plt.figure(figsize=(10,15))
plt.subplot(2,1,2)
plt.bar(city,address.groupby(['City']).sum()['Sales'])
plt.ylabel('Sales in million USD ')
plt.xlabel('Cities')
#plt.yticks(address.groupby(['City']).sum()['Sales'])
plt.xticks(city, rotation='vertical', size=8)
plt.show()

#### - What time should we display advertisemens to maximize the likelihood of customer’s buying product?

In [ ]:
all_data['Order Date']=pd.to_datetime(all_data['Order Date'])

In [ ]:
all_data.head()

In [ ]:
all_data['Hour'] = all_data['Order Date'].dt.hour
all_data['Minutes'] = all_data['Order Date'].dt.minute

all_data.head()

In [ ]:
all_data['Hour'].value_counts()

In [ ]:
hrs = [hour for hour, df in all_data.groupby(['Hour'])]


plt.plot(hrs,all_data.groupby(['Hour']).count()['Order ID'])
plt.ylabel('Number of Orders')
plt.grid()
plt.xlabel('Hours')
#plt.yticks(address.groupby(['City']).sum()['Sales'])
plt.xticks(hrs, size=8)
plt.show()

##### From Above visualizations we see that maximum orders are placed between 10 AM and 8 PM. We also see that the number of orders placed go on increasing from 4 am and decrease significantly after 8PM.
##### We can advertise in after 9am to maximise order placements

#### - What products are most often sold together?

In [ ]:
dups=all_data[all_data['Order ID'].duplicated(keep=False)]
dups.head()

In [ ]:
dups.shape

In [ ]:
dups['Grouped'] = dups.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

In [ ]:
df2 = dups[['Order ID', 'Grouped']].drop_duplicates()

In [ ]:
df2.head()

In [ ]:
df2['Grouped'].value_counts()[:30]

In [ ]:
from itertools import combinations
from collections import Counter

count = Counter()

for row in df2['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

for key,value in count.most_common(10):
    print(key, value)

#### What product sold the most? Why do you think it sold the most?

In [ ]:
product_group = all_data.groupby('Product')
quantity_ordered = product_group.sum()['Quantity Ordered']

prices = all_data.groupby('Product').mean()['Price Each']

fig, ax1 = plt.subplots()

ax2 = ax1.twinx()
ax1.bar(keys, quantity_ordered, color='y')
ax2.plot(keys, prices, color='b')

ax1.set_xlabel('Product Name')
ax1.set_ylabel('Quantity Ordered')
ax2.set_ylabel('Price ($)', color='b')
ax1.set_xticklabels(keys, rotation='vertical', size=8)

fig.show()

#### We see from the above chart that products with low prices and which are very general products which are normally required are sold the most.